In [23]:
import sys
sys.path.insert(1, '/Users/chinmayshrivastava/Desktop/OSCA/V4.0/scraping/crawler')
from crawler import *

In [137]:
registereddomains = pd.read_pickle('registereddomains.pickle')

In [146]:
database = pd.read_pickle('databasetemp.pickle')
headings = pd.read_pickle('headingstemp.pickle')
paragraphs = pd.read_pickle('paragraphstemp.pickle')
# paragraphs = pd.DataFrame(columns=['tag', 'text'])
# headings = pd.DataFrame(columns=['tag', 'headingtext', 'subheading', 'nextheading', 'paragraphs'])
# database = pd.DataFrame(columns=['topicheadingID', 'url', 'totalsubheadings', 'totalparagraphs'])

In [139]:
totalpages = 120
name = 'blockchain-council'

In [150]:
links = []
for pagenumber in range(totalpages):
    url = f'https://www.blockchain-council.org/category/blockchain/page/{pagenumber+1}/'
    links.extend(getlinks(url, name, registereddomains))
    print(pagenumber+1)

120

In [141]:
links

['https://www.blockchain-council.org/blockchain/impact-of-blockchain-on-marketing-and-advertising-in-2022/',
 'https://www.blockchain-council.org/blockchain/blockchain-byzantine-fault-tolerant/',
 'https://www.blockchain-council.org/blockchain/blockchain-real-world-use-cases/',
 'https://www.blockchain-council.org/blockchain/blockchain-fad-or-future/',
 'https://www.blockchain-council.org/blockchain/eos-buying-and-selling/',
 'https://www.blockchain-council.org/blockchain/boson-protocol-and-boson-token/',
 'https://www.blockchain-council.org/blockchain/what-is-internet-computer-blockchain-icp-token/',
 'https://www.blockchain-council.org/blockchain/what-are-parachains/',
 'https://www.blockchain-council.org/blockchain/what-is-cosmos/',
 'https://www.blockchain-council.org/blockchain/gamefi/']

In [151]:
links = list(set(links))

In [87]:
links = [f'https://dappradar.com{element}' for element in links]

In [17]:
links = pd.read_pickle('templinks.pickle')

In [155]:
i = 0
jminus = 0
for databaseid in database.index:
    if database.iloc[databaseid]['totalsubheadings']+database.iloc[databaseid]['totalparagraphs']!=0:
        jminus+=1
for link in links[978:]:
#     url = f'https://academy.binance.com{link}'
    url = link
    database, headings, paragraphs, desc = articlescraper(url, name, database, headings, paragraphs, registereddomains)
    print(url)
    if i%10==0 and i!=0:
        j = 0
        for databaseid in database.index:
            if database.iloc[databaseid]['totalsubheadings']+database.iloc[databaseid]['totalparagraphs']!=0:
                j+=1
        print(i, j-jminus)
        print('sleeping...')
        time.sleep(10)
        i+=1
    else:
        i+=1

https://www.blockchain-council.org/blockchain/role-of-cryptocurrency-and-blockchain-in-changing-entrepreneurship/

In [156]:
i

218

In [157]:
database

,topicheadingID,url,totalsubheadings,totalparagraphs
0,0,https://academy.binance.com/en/articles/top-7-...,9,24
1,10,https://academy.binance.com/en/articles/what-i...,18,61
2,29,https://academy.binance.com/en/articles/proof-...,23,28
3,53,https://academy.binance.com/en/articles/what-a...,14,25
4,68,https://academy.binance.com/en/articles/binanc...,0,0
...,...,...,...,...
2249,14911,https://www.blockchain-council.org/blockchain/...,0,28
2250,14912,https://www.blockchain-council.org/blockchain/...,0,11
2251,14913,https://www.blockchain-council.org/blockchain/...,4,16
2252,14918,https://www.blockchain-council.org/blockchain/...,14,32
2253,14933,https://www.blockchain-council.org/blockchain/...,9,42

In [158]:
headings

,tag,headingtext,subheading,nextheading,paragraphs
0,topic,Top 7 NFT Use Cases,1,None,[0]
1,h2,Introduction,None,2,"[1, 2]"
2,h2,Art NFTs,None,3,"[3, 4]"
3,h2,Collectible NFTs,None,4,"[5, 6]"
4,h2,Finance NFTs,None,5,[7]
...,...,...,...,...,...
14938,h3,Access to Business-Related Education,None,14939,"[58193, 58194]"
14939,h3,Enables Reward Systems,None,14940,"[58195, 58196, 58197, 58198, 58199]"
14940,h3,Offers Customer Loyalty Platform,None,14941,"[58200, 58201, 58202, 58203]"
14941,h3,Cryptocurrencies Can Avoid fraud,None,14942,"[58204, 58205, 58206]"
14942,h3,Final Words,None,None,"[58207, 58208, 58209, 58210, 58211]"

In [162]:
paragraphs

      tag                                               text
0       p                                              TL;DR
1       p  The development of NFTs has brought us crypto ...
2       p  While the NFT ecosystem is still young, there ...
3       p  Non-fungible tokens have helped solve long-sta...
4       p  When it comes to NFTs, the value isn’t necessa...
...    ..                                                ...
58207   p
58208   p  The revolution of Cryptocurrency and Blockchai...
58209   p
58210   p  To get instant updates about Blockchain Techno...
58211   p

[58212 rows x 2 columns]

In [27]:
with open('templinks.pickle', 'wb') as file:
    pickle.dump(links, file)

In [163]:
with open('headingstemp.pickle', 'wb') as file:
    pickle.dump(headings, file)
with open('paragraphstemp.pickle', 'wb') as file:
    pickle.dump(paragraphs, file)
with open('databasetemp.pickle', 'wb') as file:
    pickle.dump(database, file)